/*-----------------------------------------------------*/
/*--------------------Media Queries--------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width:1400px)
/*tvs*/
    {

    /*-----------------------------------------------------*/
    /*----------------------MENU BAR-----------------------*/
    /*-----------------------------------------------------*/
    #mainBar {
        height: 88vh;
        background-color: rgb(40, 39, 39);
    }

    /*-----------------------------------------------------*/
    /*--------------------FOOTER BAR-----------------------*/
    /*-----------------------------------------------------*/
    #footerBar {
        height: 4vh;
        background-color: rgb(40, 39, 39);
    }
    
}