/*-----------------------------------------------------*/
/*--------------------Media Queries--------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width:320px)
/*smartphones*/
    {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: rgb(68, 68, 68);
        height: 100vh;
        width: 100vw;
    }

    #bodyGrid {
        display: grid;
        grid-template-rows: 10vh 85vh 5vh;

    }

    #headerGrid {
        text-align: center;
        color: white;
    }

    #mainGrid {
        text-align: center;
        color: white;

    }

    #footerGrid {
        text-align: center;
        color: white;
    }
}