/*-----------------------------------------------------*/
/*--------------------Media Queries--------------------*/
/*-----------------------------------------------------*/
@media screen and (max-width:992px)
/*tablets, laptops, desktops*/
{

    /*-----------------------------------------------------*/
    /*----------------------MENU BAR-----------------------*/
    /*-----------------------------------------------------*/
    #mainBar{
        height: 88vh;
        background-color: rgb(40, 39, 39);
    }
    /*-----------------------------------------------------*/
    /*--------------------FOOTER BAR-----------------------*/
    /*-----------------------------------------------------*/
    #footerBar{
        height: 4vh;
        background-color: rgb(40, 39, 39);
    }

}